<template>
    <div class="article">
        <van-nav-bar title="文章列表" fixed placeholder>
        </van-nav-bar>
        &nbsp;
        <router-link to="wenz">
            <div class="pic">
                <img src="https://ecshop.test2.shopex123.com/data/article/1596682582130323096.jpg">
                &nbsp;
                <p>88会员节盛典 宠你有“礼”</p>
                &nbsp;
            </div>
        </router-link>
        <div class="pic">
            <img src="https://ecshop.test2.shopex123.com/data/article/1596682582130323096.jpg">
            &nbsp;
            <p>88会员节盛典 宠你有“礼”</p>
            &nbsp;
        </div>
        <div class="pic">
            <img src="https://ecshop.test2.shopex123.com/data/article/1596681084055066633.jpg">
            &nbsp;
            <p>88会员节盛典 宠你有“礼”</p>
            &nbsp;
        </div>
        <div class="pic">
            <img src="https://ecshop.test2.shopex123.com/data/article/1596682582130323096.jpg">
            &nbsp;
            <p>88会员节盛典 宠你有“礼”</p>
            &nbsp;
        </div>
    </div>
</template>

<script>
export default {
    data(){
    }
}
</script>

<style lang="scss">
.article {
    text-align: center;
    .pic {
        width: 100%;
        height: px2rem(118);
        img {
            width: 100%;
            height: 100%;
        }
        p {
            text-align: center;
            color: black;
            font-size: 22px;
        }
    }
}
</style>