<template>
    <div class="details">
        <van-nav-bar title="文章详情" left-text="返回" left-arrow fixed placeholder />
        &nbsp;
        <img style="max-width:100%;height:auto;vertical-align: bottom;"
            src="https://gdp.alicdn.com/imgextra/i2/845001562/O1CN01qojPMI1NPRGqHepwx_!!845001562.jpg" alt="">
        &nbsp;
        <p><strong>这里是"文章内容"</strong></p>
        <p><strong>修改位置：文章管理-文章列表-编辑文章内容</strong></p>
        &nbsp;
        <img style="max-width:100%;height:auto;vertical-align: bottom;"
            src="https://img.alicdn.com/imgextra/i3/845001562/O1CN011yiMDO1NPRGXfGtSM_!!845001562.jpg" alt="">
    </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
@import "@/assets/css/common.scss";
.details {
    p {
        color: red;
        font-size: 20px;
        text-align: center;
    }
}
</style>