<template>
    <div class="details">
        <van-nav-bar title="标题" left-text="返回" right-text="按钮" left-arrow @click-left="onClickLeft"
            @click-right="onClickRight">
        </van-nav-bar>

        <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
            <van-swipe-item>1</van-swipe-item>
            <van-swipe-item>2</van-swipe-item>
            <van-swipe-item>3</van-swipe-item>
            <van-swipe-item>4</van-swipe-item>
        </van-swipe>

        <van-card :num="item.goods_name" :price="item.shop_price" desc="描述信息" :title="item.goods_name"
            :thumb="'http://tmp00001.zhaodashen.cn/'+item.goods_thumb">
        </van-card>
        <van-goods-action>
            <van-goods-action-icon icon="chat-o" text="客服" @click="onClickIcon" />
            <van-goods-action-icon icon="cart-o" text="购物车" @click="onClickIcon" />
            <van-goods-action-icon icon="shop-o" text="店铺" @click="onClickIcon" />
            <van-goods-action-button type="danger" text="立即购买" @click="onClickButton" />
        </van-goods-action>

    </div>
</template>

<script>
import { getDetailsApi } from '@/api/index';
export default {
    data () {
        return {
            id: 0,
            pagesize01: 0,
            item: {
                goods_thumb: '',
                goods_price: '',
                goods_name: '',
            }
        }
    },
    methods: {

        onClickLeft () {
            console.log('onClickLeft')
        },
        onClickRight () {
            console.log('onClickRight')
        },
        initData () {
            this.id = this.$route.query.id
            getDetailsApi({
                goodsId: this.id
            })
                .then(res => {
                    if (!res.data) return
                    console.log(res.data)
                    this.item = res.data
                })
        },
        onClickIcon () {
            // Toast('点击图标');
        },
        onClickButton () {
            // Toast('点击按钮');
        },
    },
    created () {
        this.initData()
    }

}
</script>

<style lang="scss" scoped>
.my-swipe .van-swipe-item {
    color: #fff;
    font-size: 20px;
    line-height: 200px;
    text-align: center;
    background-color: #39a9ed;
}
</style>

