<template>
	<div class="shoplist">
		<div class="header">
			<van-nav-bar click-left="onClickLeft" click-right="onClickRight">
				<template #left>
					<van-icon name="arrow-left" />
				</template>
				<template #title>
					<van-search v-model="value" shape="round" placeholder="请输入搜索关键词" />
				</template>
				<template #right>
					<van-icon name="shopping-cart" />
				</template>
			</van-nav-bar>
		</div>
		<div class="shop">
			<div class="daohang">
				<van-dropdown-menu>
					<van-dropdown-item v-model="value1" :options="option1" />
				</van-dropdown-menu>
				<van-tabs v-model="activeName">
					<van-tab title="标签 1" name="a"></van-tab>
					<van-tab title="标签 2" name="b"></van-tab>
				</van-tabs>
			</div>

			<van-pull-refresh v-model="isLoading" @refresh="onRefresh">
				<van-card v-for="item in tableData2"   num="2" :price="item.market_price" @click="jump(item.cat_id)" :desc="item.goods_sn" :title="item.goods_name"
				thumb="https://img.yzcdn.cn/vant/ipad.jpeg">
					<template #tags>
						<van-tag plain type="danger">{{item.goods_id}}%好评</van-tag>
						<van-tag plain type="danger">销量{{item.is_alone_sale}}</van-tag>
					</template>
					<template #footer>
						<img src="@/assets/imgs/0000.png" style="width: 0.22rem;">
					</template>
				</van-card>
				<!-- <div class="shopys" v-for="item in tableData2" v-bind:listsize="item">
					<div class="l">
						<img src="@/assets/imgs/zhutu.jpg">
					</div>
					<div class="r">
						<div>
							<h3>{{item.goods_name}}</h3>
						</div>
						<div><span>399</span><span>399</span></div>
						<div><span></span>0好评<span>销量0</span><span> <img src="@/assets/imgs/0000.png" style="width: 0.22rem;"></span></div>
					</div>
				</div> -->
			</van-pull-refresh>



		</div>

	</div>
</template>

<script>
	import {
		getspqqApi
	} from '@/api/index'
	export default {
		props: ["listsize"],
		data() {
			return {
				// pagesize:this.listsize,
				count: 0,
				isLoading: false,
				pageno: 5,
				tableData2: [],
				activeName: 'a',
				value: "",
				value1: 0,
				value2: 'a',
				value3: 1,
				option1: [{
						text: '全部商品',
						value: 0
					},
					{
						text: '新款商品',
						value: 1
					},
					{
						text: '活动商品',
						value: 2
					},
				]
			};
		},
		methods: {
			initData() {
				getspqqApi({

						pageno: this.pageno
					})
					.then(res => {
						console.log(res.data);
						this.tableData2 = res.data.list
						console.log(this.tableData2)
					})
			},
			jump(id) {
				this.$router.push({path: "/shopxq?id=" + id})
			},
			onRefresh() {
				setTimeout(() => {
					this.isLoading = false;
					this.pageno++
					this.initData()
				}, 1000);
			},
		},
		created() {
			this.initData()
		}
	};
</script>

<style lang="scss" scoped>
	@import '@/assets/css/common.scss';

	/deep/.van-card:not(:first-child) {
		margin-top: 0;
		border: px2rem(1) solid #ccc;
		background-color: white;
	}

	/deep/.van-dropdown-menu__bar {
		box-shadow: none;
	}

	.daohang {
		display: flex;

		.van-dropdown-menu {
			width: 1rem;
		}

		.van-tabs {
			flex: 1;
		}

	}

	.shopys {
		display: flex;
		padding: 8px 16px;

		.l {
			width: 1.1rem;
			height: 1.1rem;

			img {
				width: .88rem;
				height: .88rem;
			}
		}

		.r {
			flex: 1;
			height: 1.1rem;
		}
	}
</style>
