<template>
    <div class="sort">

        <form action="/">
            <van-search v-model="value" placeholder="商品搜索" input-align="center" />
        </form>
        <div class="content">
            <div class="l">
                <van-sidebar v-model="activeKey">
                    <van-sidebar-item title="彩妆系列" />
                    <van-sidebar-item title="面部护理" />
                    <van-sidebar-item title="活动专区" />
                    <van-sidebar-item title="明星家族" />
                    <van-sidebar-item title="新品上市" />
                    <van-sidebar-item title="ECshop测试分类" />
                </van-sidebar>
            </div>

            <div class="r">
                <van-card num="2" price="2.00" desc="描述信息" title="商品标题" thumb="https://img.yzcdn.cn/vant/ipad.jpeg" />
                <div class="r_1">
                    <span>——彩妆系列分类——</span>
                </div>
                <van-grid :border="false" :column-num="3">
                    <van-grid-item>
                        <van-image src="https://img.yzcdn.cn/vant/apple-1.jpg" />
                        <span>面部彩妆</span>
                    </van-grid-item>
                    <van-grid-item>
                        <van-image src="https://img.yzcdn.cn/vant/apple-2.jpg" />
                        <span>面部彩妆</span>
                    </van-grid-item>
                    <van-grid-item>
                        <van-image src="https://img.yzcdn.cn/vant/apple-3.jpg" />
                        <span>面部彩妆</span>
                    </van-grid-item>
                </van-grid>
            </div>
        </div>

        <van-tabbar v-model="active">
            <van-tabbar-item icon="home-o">首页</van-tabbar-item>
            <van-tabbar-item icon="search">精选</van-tabbar-item>
            <van-tabbar-item icon="friends-o">分类</van-tabbar-item>
            <van-tabbar-item icon="setting-o">购物车</van-tabbar-item>
            <van-tabbar-item icon="setting-o">我的</van-tabbar-item>
        </van-tabbar>

    </div>
</template>

<script> 
export default {
    data () {
        return {
            active: 0,
            activeKey: 0,
            value: '',
        };
    },
};
</script>

<style lang="scss" scoped>
@import "@/assets/css/common.scss";
.content {
    display: flex;
    .l {
        width: px2rem(80);
        font-size: 10px;
        color: #333;
    }
    .r {
        flex: 1;
        .r_1 {
            text-align: center;
            padding: px2rem(35) 0;
        }
    }
}
</style>