<template>
  <div class="header">首页</div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import "@/assets/css/common.scss";

.header {
  width: 100%;
  height: px2rem(42);
  background: rgb(105, 195, 170);
  line-height: px2rem(42);
  color: #fff;
  text-align: center;
  font-weight: bolder;
  font-size: px2rem(12);
}
</style>
