<template>
  <div class="adddress">
    <van-nav-bar title="添加地址" left-text="返回" />
    <van-form @submit="onSubmit">
      <!-- <van-field
        v-model="city"
        type="text"
        name="城市"
        label="城市"
        placeholder="省份、城市、区县"
      /> -->
      <!-- 地址 -->
      <van-address-edit
        :area-list="areaList"
        show-delete
        show-set-default
        show-search-result
        :search-result="searchResult"
        :area-columns-placeholder="['请选择', '请选择', '请选择']"
        @save="onSave"
        @delete="onDelete"
        @change-detail="onChangeDetail"
      />
    </van-form>

    <!-- 表单结束 -->
  </div>
</template>

<script>
import { postAddressApi } from "@/api/index1.js";
import { Toast } from "vant";
export default {
  // created() {},
  methods: {
    onSubmit() {
      // console.log("submit", values);
      postAddressApi({
        username: this.contents.name,
        province: this.contents.city,
        city: this.contents.county,
        district: this.contents.addressDetail,
        address: this.contents.name,
        mobile: this.contents.tel,
        is_default: this.contents.isDefault,
      }).then((res) => {
        console.log(res.data);
        // console.log();
      });
    },
    // 城市
    onSave(content) {
      Toast("save");
      // console.log(content);
      // console.log(Toast("save"));
      (this.contents.name = content.name),
        (this.contents.city = content.city),
        (this.contents.county = content.county),
        (this.contents.addressDetail = content.addressDetail),
        (this.contents.name = content.name),
        (this.contents.tel = content.tel),
        (this.contents.isDefault = content.isDefault),
        console.log(this.contents);
      // postAddressApi({
      //   username: this.contents.name,
      //   province: this.contents.city,
      //   city: this.contents.county,
      //   district: this.contents.addressDetail,
      //   address: this.contents.name,
      //   mobile: this.contents.tel,
      //   is_default: this.contents.isDefault,
      // }).then((res) => {
      //   console.log(res.data);
      //   // console.log();
      // });
    },
    onDelete() {
      Toast("delete");
    },
    onChangeDetail(val) {
      if (val) {
        this.searchResult = [
          {
            name: "黄龙万科中心",
            address: "杭州市西湖区",
          },
        ];
      } else {
        this.searchResult = [];
      }
    },
    // 城市
  },
  data() {
    return {
      // 接口数据
      // username: "",
      // province: 0,
      // city: 0,
      // district: 0,
      // address: "",
      // mobile: "",
      // is_default: "",
      contents: {},
      // 接口数据
      // 表单数据开始
      // address: "",
      // addressInput: "",
      // username: "",
      // password: "",
      // phone: "",
      // city: "",
      // checked: true,

      //   表单数据结束
      // 选择省市区
      //   城市
      //   areaList,
      searchResult: [],
      //   城市
      areaList: {
        province_list: {
          110000: "北京市",
          120000: "天津市",
        },
        city_list: {
          110100: "北京市",
          110200: "县",
          120100: "天津市",
          120200: "县",
        },
        county_list: {
          110101: "东城区",
          110102: "西城区",
          110105: "朝阳区",
          110106: "丰台区",
          120101: "和平区",
          120102: "河东区",
          120103: "河西区",
          120104: "南开区",
          120105: "河北区",
          // ....
        },
      },
      // 选择省市区结束
    };
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/css/common.scss";

.address {
  width: 100%;
  height: 100%;
  .van-nav-bar {
    //   background-color: red;
    .left-text {
      color: black;
    }
  }
}
.van-field {
  height: px2rem(70);
}
.defaultAddress {
  padding: 0 px2rem(20);
  color: rgb(178, 179, 179);
  display: flex;
  justify-content: space-between;
  margin-top: px2rem(20);
}
</style>