<template>
  <div class="collect">
    <!-- nav-bar -->
    <van-nav-bar title="地址管理" left-text="返回" />
    <van-address-list
      v-model="chosenAddressId"
      :list="list"
      disabled-text="以下地址超出配送范围"
      default-tag-text="默认"
      @add="onAdd"
      @edit="onEdit"
    />
    <!-- <div class="main">
      <div class="row">
        <div class="l">
          <div class="top"></div>
          <div class="bottom"></div>
        </div>
        <div class="r">
          <img class="carts" src="@/assets/imgs/edit.jpg" alt="" />
        </div>
      </div>
      <div class="row"></div>
    </div>
    <div class="footer">
      <van-button plain color="#b4282d" size="large" type="info"
        >+新建地址</van-button
      >
    </div> -->
  </div>
</template>

<script>
import { getAddressApi } from "@/api/index1";
import { Toast } from "vant";
export default {
  data() {
    return {
      chosenAddressId: "2",
      list: [],
    };
  },
  created() {
    this.initData();
  },
  methods: {
    initData() {
      getAddressApi().then((res) => {
        console.log(res.data);
        res.data.forEach((item) => {
          item.name = item.consignee;
          this.list.push(item);
          if (item.is_default == 1) {
            this.defaultTagText = "默认";
          }
        });
        // this.dataTable = res.data;
      });
    },
    onAdd() {
      Toast("新增地址");
      this.$router.push({ path: "/address" });
    },
    onEdit(item, index) {
      Toast("编辑地址:" + index);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/css/common.scss";
.collect {
  width: 100%;
  height: 100%;
  .main {
    width: 100%;
    // height: px2rem(70);
    .row {
      //   background-color: red;
      height: px2rem(70);
      margin: px2rem(10) px2rem(10);
      border-bottom: px2rem(1) solid #ccc;
      //   border: 1px sold #ccc;
      display: flex;
      .l {
        width: px2rem(300);
        background-color: yellow;
        .top {
          height: px2rem(40);
          width: 100%;
          background-color: blue;
        }
        .bottom {
          height: px2rem(30);
          width: 100%;
          background-color: green;
        }
      }
      .r {
        flex: 1;
        // background-color: pink;
        position: relative;
        img {
          position: absolute;
          left: px2rem(10);
          top: px2rem(18);
          width: px2rem(40);
          height: px2rem(40);
        }
      }
    }
  }
}
</style>