<template>
  <div class="collect">
    <!-- nav-bar -->
    <van-nav-bar title="收藏列表" left-text="返回" />
    <!-- grid -->
    <van-grid :border="false" :column-num="2">
      <van-grid-item>
        <van-image src="https://img.yzcdn.cn/vant/apple-1.jpg" />
        <span class="goods_name"> 悦诗风吟</span>
        <span class="price"> ￥220.00</span>
        <!-- <van-grid-item text="路由跳转" to="/" /> -->
      </van-grid-item>
      <van-grid-item>
        <van-image src="https://img.yzcdn.cn/vant/apple-2.jpg" />
        <span class="goods_name"> 悦诗风吟</span>
        <span class="price"> ￥220.00</span>
      </van-grid-item>
      <van-grid-item>
        <van-image src="https://img.yzcdn.cn/vant/apple-3.jpg" />
        <span class="goods_name"> 悦诗风吟</span>
        <span class="price"> ￥220.00</span>
      </van-grid-item>
      <van-grid-item>
        <van-image src="https://img.yzcdn.cn/vant/apple-3.jpg" />
        <span class="goods_name"> 悦诗风吟</span>
        <span class="price"> ￥220.00</span>
      </van-grid-item>
      <van-grid-item>
        <van-image src="https://img.yzcdn.cn/vant/apple-3.jpg" />
        <span class="goods_name"> 悦诗风吟</span>
        <span class="price"> ￥220.00</span>
      </van-grid-item>
      <van-grid-item>
        <van-image src="https://img.yzcdn.cn/vant/apple-3.jpg" />
        <span class="goods_name"> 悦诗风吟</span>
        <span class="price"> ￥220.00</span>
      </van-grid-item>
    </van-grid>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import "@/assets/css/common.scss";
.collect {
  width: 100%;
  height: 100%;
  .van-nav-bar {
    //   background-color: red;
    .left-text {
      color: black;
    }
  }
  .van-grid {
    // background-color: blue;
    padding: px2rem(50);
    .van-grid-item {
      .goods_name {
        color: blue;
        text-align: left;
      }
      .price {
        color: red;
      }
    }
  }
}
</style>