<template>
  <div class="main">
    <!-- 头部 -->
    <van-nav-bar
      title="订单确认"
      left-text="返回"
      left-arrow
      @click-left="onClickLeft"
      @click-right="onClickRight"
    />
    <!-- 头部 -->
    <!-- 地址 -->
    <van-address-list
      v-model="chosenAddressId"
      :list="list"
      default-tag-text="默认"
      @add="onAdd"
      @edit="onEdit"
    />
    <!-- 地址 -->
    <!-- 商品合计 -->
    <div class="hj">
      
      <span>商品合计</span>
      <span>${{arr.length?arr[0].goods_price: 0 }}</span>
    </div>
    <!-- 商品合计 -->

    <!-- 包装费 -->
    <div class="hj bz">
      <span>包装费</span>
      <span>123</span>
    </div>
    <!-- 包装费 -->

    <!-- 运费 -->
    <div class="hj yf">
      <span>运费</span>
      <span>123</span>
    </div>
    <!-- 运费 -->

    <!-- 优惠活动 -->
    <div class="hj hd">
      <span>优惠活动</span>
      <span>123</span>
    </div>
    <!-- 优惠活动 -->

    <!-- 商品详情 -->
    <div class="sp">
      <div class="l">
        <img src="@/assets/imgs/zhutu.jpg" alt />
      </div>
      <div class="r">
        {{arr.length ? arr[1].goods_name : ''}}
        <p>$:{{arr.length?arr[0].goods_price: 0 }}</p>
        <p>数量:{{arr.length? arr[1].goods_number : ''}}</p>
      </div>
    </div>
    <!-- 商品详情 -->

    <!-- 订单确认 -->
    <div class="footer">
      <div class="let">实付:$:{{arr.length?arr[0].goods_price: 0 }}</div>
      <div class="rgt"><button>确认订单</button></div>
    </div>
  </div>
</template>
    
<script>
import { Toast } from 'vant'
import { getOrderApi, getGoodsAPi } from '@/api'
export default {
  created() {
    this.initData()
    getGoodsAPi().then((res) => {
      console.log(res)
      this.arr = res.data
      
    })
  },

  methods: {
    //提交订单
    onSubmit() {},
    //收获地址数据
    initData() {
      getOrderApi().then((res) => {
        console.log(res)
        let tmp = []
        res.data.forEach((item) => {
          item.name = item.consignee + item.mobile
          if (item.is_default == '1') tmp.push(item)
        })
        this.list = tmp
      })
    },

    onClickLeft() {
      Toast('返回')
    },
    onClickRight() {
      Toast('按钮')
    },
    //地址
    onAdd() {
      Toast('新增地址')
    },
    onEdit(item, index) {
      Toast('编辑地址:' + index)
    },
  },
  data() {
    return {
      chosenAddressId: '1',
      list: [],
      arr: [],
    }
  },
}
</script>

<style lang='scss' scoped>
@import '@/assets/css/common.scss';
.main {
  /deep/.van-nav-bar__text {
    color: #000;
  }
  /deep/.van-icon {
    color: #000;
  }
  .van-address-list {
    background: url(https://imgt1.oss-cn-shanghai.aliyuncs.com/ecAllRes/images/address-bg-bd.png)
      0 0 repeat-x #fff;
    height: px2rem(100);
    overflow: auto;
  }
  .van-address-list__bottom {
    display: none;
  }

  .hj {
    font-size: px2rem(18);
    width: 95%;
    margin: auto;
    height: px2rem(50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #ccc;
    overflow: hidden;
  }
  .sp {
    display: flex;
    padding-top: px2rem(20);
    width: 95%;
    margin: auto;
    .l {
      margin-right:px2rem(20) ;
      img {
        width: px2rem(60);
        height: px2rem(60);
      }
    }
  }
  .footer{
    width: 100%;
    height: px2rem(50);
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    .let{
      width: 70%;
      padding-left:px2rem(10) ;
      line-height:px2rem(50) ;
      background: #F4F4F4;
      font-size: px2rem(18);
    }
    .rgt{
      flex: 1;
      button{
        width: 100%;
        height: 100%;
        background: #B4282D;
        color: white;
        border: none;
      }
      
    }
  }
}
</style>