<template>
  <div class="pay">
    <!-- 头 -->
    <van-nav-bar
      title="支付"
      left-text="返回"
      left-arrow
      @click-left="onClickLeft"
      @click-right="onClickRight"
    />
    <!-- 头 -->
    <div class="top">
      <span>订单号</span>
      <span>2020202020202</span>
    </div>
    <div class="tob">
      <span>订单金额</span>
      <span>￥ 415.00</span>
    </div>
    <!-- 头 -->
    <div class="xz">请选择支付方式</div>
    <!-- 付款方式 -->
    <van-radio-group v-model="radio">
      <ul>
        <li>
          <van-radio name="1" checked-color="#07c160" icon-size="24px">
            <i  style="color:#54A44B" class="iconfont icon-weixinzhifu"></i>微信支付
          </van-radio>
        </li>
        <li>
          <van-radio name="2" checked-color="#07c160" icon-size="24px">
            <i style="color:#399FCE;" class="iconfont icon-zhifubao"></i>支付宝支付
          </van-radio>
        </li>
        <li>
          <van-radio name="3" checked-color="#07c160" icon-size="24px">
            <i class="iconfont icon-yue"></i>预存款支付（余额：0.00）
          </van-radio>
        </li>
        <li>
          <van-radio name="4" checked-color="#07c160" icon-size="24px">
            <i style="color:#0E3484;" class="iconfont icon-jianhang"></i>龙支付（建设银行）
          </van-radio>
        </li>
      </ul>
    </van-radio-group>
    <!-- 付款方式 -->
    <!-- 底部 -->
    <div class="footer">
      <van-button square type="primary">确定</van-button>
      <van-button style="border-right:none ;" square type="primary">取消</van-button>
    </div>
    <!-- 底部 -->
  </div>
</template>

<script>
import { Toast } from 'vant'
export default {
  methods: {
    onClickLeft() {
      Toast('返回')
    },
    onClickRight() {
      Toast('按钮')
    },
  },
  data() {
    return {
      radio: '1',
    }
  },
}
</script>

<style lang='scss' scoped>
@import '@/assets/css/common.scss';
.pay {
  background: #f4f4f4;
  width: 100%;
  height: 100%;
  /deep/.van-nav-bar__text {
    color: #000;
  }
  /deep/.van-icon {
    color: #000;
  }
  .top {
    margin-top: px2rem(10);
    height: px2rem(52);
    background: #fff;
    width: 92%;
    line-height: px2rem(52);
    padding-left: px2rem(15);
    padding-right: px2rem(15);
    display: flex;
    justify-content: space-between;
    font-size: px2rem(16);
  }
  .tob {
    height: px2rem(52);
    background: #fff;
    width: 92%;
    line-height: px2rem(52);
    padding-left: px2rem(15);
    padding-right: px2rem(15);
    display: flex;
    justify-content: space-between;
    font-size: px2rem(16);
  }
  .xz {
    width: 100%;
    height: px2rem(25);
    line-height: px2rem(25);
    margin-top: px2rem(20);
    margin-left: px2rem(16);
    margin-bottom: px2rem(16);
  }
  .van-radio-group {
    li {
      width: 100%;
      height: px2rem(54);
      background: #fff;
      display: flex;
      align-items: center;
      border-bottom: px2rem(1) solid #f4f4f4;
      .van-radio {
        width: 100%;
        font-size: px2rem(20);
        i {
          margin: 0 px2rem(10);
          line-height: px2rem(54);
          font-size: px2rem(25);
          
        }
      }
    }
  }
  /deep/ .van-icon-success {
    color: #fff !important;
    border: solid px2rem(2) #000;
  }
  /deep/.van-radio__icon{
    padding: 0 10px;
  }
  .footer{
    width: 100%;
    height: px2rem(50);
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    .van-button{
      width: 50%;
      height: 100%;
      border-right: solid 1px #000;
      background: #B4282D;
    }
    .van-button--primary{
      background-color: none;
      border-top: none;
      border-bottom: none;
      border-left: none;
      
    }
  }
}
</style>