<template>
    <div class="login">
        <!-- 头部 -->
        <van-nav-bar
        title="登录"
        left-text="返回"
        left-arrow
        />
        <!-- 头部 -->
        <!-- 表单验证 -->
        <van-form @submit="onSubmit" v-model="formData" ref="formData">
            <van-field
                v-model="formData.uname"
                name="uname"
                placeholder="用户名/手机号"
                :rules="[{ required: true, message: '请填写用户名' }]"
            />
            <van-field
                v-model="formData.pwd"
                type="password"
                name="pwd"
                placeholder="密码"
                :rules="[{ required: true, message: '请填写密码' }]"
            />
            <div class="btn">
                <van-button round block type="info" native-type="submit">
                登录
                </van-button>
            </div>
        </van-form>
        <!-- 表单验证 -->
        <p>验证码快捷登录</p>
        <van-icon name="chat-o" size='28px'/>
        <div class="user_pass">
            <p>找回密码</p>
            <p>注册帐号</p>
        </div>
    </div>
</template>

<script>
import {postLoginApi} from '@/api'
export default {
  data() {
    return {
      formData :{
        uname :'',
        pwd : ''
      },
    };
  },
//   created(){
//         localStorage.setItem('time', (new Date).getTime() + 1000*30)
//   },
  methods: {
    onSubmit(values) {
      postLoginApi(values).then(res=>{
            if(res.meta.state ===  200){
              alert('登录成功')
              localStorage.setItem('token',res.data.token)
              localStorage.setItem('uname',res.data.uname)
              localStorage.setItem('time', (new Date).getTime() + 1000*60*60*24*3)
              this.$router.push({path:'/my/main'})
            }else{
              // this.$message.error(res.meta.msg)
            }
        })
    },
  },
};
</script>

<style lang='scss' scoped>
@import '@/assets/css/common.scss';
.login{
    width: 100%;
    text-align: center;
    .van-nav-bar{
        width: 100%;
    }
    .van-form{
        width: 100%;
        padding: px2rem(15);
        margin-top: px2rem(150);
        .van-field{
            align-items: center;
            height:  px2rem(18);
            color: #333;
            padding:  px2rem(20) 0 px2rem(20) px2rem(20);  
            margin-top: px2rem(7);
            margin-bottom: px2rem(7);
            border: 0.5px solid #9f8286;
            box-shadow: 0 0 30px 0 rgba(43,86,112,.1);
            border-radius: px2rem(5);
        }
        .btn{
            width: 100%;
            margin-top: px2rem(50);
            margin-bottom: px2rem(20);
            border: 1px solid rgba(0,0,0,.2);
            border-radius: px2rem(10);
            color: rgb(255, 255, 255);
            font-size: px2rem(13);
            cursor: pointer;
            background: #a53533;
            .van-button{
                background: #a53533;
                border: 0;
            }
        }
    }
    p{
        margin-bottom: px2rem(20);
        font-size: px2rem(14);
    }
    .user_pass{
        height: px2rem(30);
        display: flex;
        width: px2rem(160);
        margin: 0 auto;
        margin-top: px2rem(20);
        justify-content: space-around;
        line-height:px2rem(30) ;
    }
}
</style>