<template>
    <div class="orders">
        <!-- 头部 -->
        <van-nav-bar
        title="订单列表"
        left-text="返回"
        left-arrow
        @click-left="onClickLeft"
        />
        <!-- 头部 -->
          <!-- 标签栏 -->
          <van-tabs v-model="active">
            <van-tab title="全部" >
              
                <div class="main">
                  <!-- 商品信息 -->
                    <van-card
                      num="2"
                      price="2.00"
                      desc="描述信息"
                      title="商品标题"
                      thumb="https://img.yzcdn.cn/vant/ipad.jpeg"
                    >
                      <template #tags>
                        <van-tag plain type="danger">标签</van-tag>
                        <van-tag plain type="danger">标签</van-tag>
                      </template>
                      <template #footer>
                        <van-button size="mini">取消订单</van-button>
                        <van-button size="mini">去付款</van-button>
                      </template>
                    </van-card>
                    <van-card
                      num="2"
                      price="2.00"
                      desc="描述信息"
                      title="商品标题"
                      thumb="https://img.yzcdn.cn/vant/ipad.jpeg"
                    >
                      <template #tags>
                        <van-tag plain type="danger">标签</van-tag>
                        <van-tag plain type="danger">标签</van-tag>
                      </template>
                      <template #footer>
                        <van-button size="mini">取消订单</van-button>
                        <van-button size="mini">去付款</van-button>
                      </template>
                    </van-card>
                  <!-- 商品信息 -->
                </div>
            </van-tab >
            <van-tab title="待付款" >
                    <van-card
                      num="2"
                      price="2.00"
                      desc="描述信息"
                      title="商品标题"
                      thumb="https://img.yzcdn.cn/vant/ipad.jpeg"
                    >
                      <template #tags>
                        <van-tag plain type="danger">标签</van-tag>
                        <van-tag plain type="danger">标签</van-tag>
                      </template>
                      <template #footer>
                        <van-button size="mini">按钮</van-button>
                        <van-button size="mini">按钮</van-button>
                      </template>
                    </van-card>
            </van-tab>
            <van-tab title="待发货" ></van-tab>
            <van-tab title="待收货" ></van-tab>
            <van-tab title="待评价" ></van-tab>
            <van-tab title="退换货" ></van-tab>
          </van-tabs>
        <!-- 标签栏 -->
        </div>
</template>

<script>
// import {getOrdersApi} from '@/api'
export default {
   data() {
    return {
      active: 0,
    };
  },
  methods: {
    onClickLeft() {
    },
  },
};
</script>

<style lang='scss' scoped>
@import '@/assets/css/common.scss';
.orders{
  .van-tabs{
    background: rgb(245, 245, 245);
  }
  .main{
    width: 100%;
    background: rgb(245, 245, 245);
    padding: px2rem(10);
    .van-card{
      width: 94%;
      margin: auto;
      background: #ffffff;
      margin-bottom: px2rem(15);
      border-radius: px2rem(5);
    }
  }
}
</style>