<template>
  <div class="vip">
        <div class="header">
            <img src="@/assets/imgs/user-bg.png" alt="" class="banner">
            <div class="top">
                我的
                <div class="r">
                    <van-icon name="chat-o" />
                    <van-icon name="setting-o" />
                </div>
            </div>
            <div class="user">
                <img src="@/assets/imgs/user.png" alt="">
                <span>{{uname}}</span>
            </div>
            <div class="btm">
                <div class="tit">非特殊用户组</div>
                <div class="grade">等级优惠</div>
                <div class="img"><img src="@/assets/imgs/vip-card-bg.png" alt=""></div>
            </div>
            <img src="@/assets/imgs/arc.png" alt="" class="transtion">
        </div>
        <div class="box">
            <div class="content">
                    <!-- 余额 -->
                    <van-grid :column-num="3">
                        <van-grid-item  icon="gold-coin" text="余额0.00" />
                        <van-grid-item  icon="bill" text="红包0" />
                        <van-grid-item  icon="card" text="积分0" />
                    </van-grid>
                    <!-- 余额 -->
                    <div class="order">
                        <span>我的订单</span>
                        <router-link to="/orders">查看全部订单 ></router-link>
                    </div>
                    <van-grid :column-num="5" class="orders">
                        <van-grid-item icon="bill-o" text="待付款" />
                        <van-grid-item icon="logistics" text="待发货" />
                        <van-grid-item icon="logistics" text="待收货" />
                        <van-grid-item icon="chat-o" text="待评价" />
                        <van-grid-item icon="after-sale" text="退货/售后" />
                    </van-grid>
                    <!-- List列表 -->
                    <van-list>
                        <van-cell icon="clock-o" color="#39b54a" title="浏览历史" />
                        <van-cell icon="refund-o" title="我的钱包" />
                        <van-cell icon="gift-o" title="超值礼包" />
                        <van-cell icon="point-gift-o" title="红包激活" />
                        <van-cell icon="location-o" title="地址管理" />
                        <van-cell icon="cluster-o" title="我的下级" />
                        <van-cell icon="share-o" title="分享" />
                        <van-cell icon="star-o" title="我的收藏" />
                        <van-cell icon="chat-o" title="联系客服" />
                        <van-cell icon="setting-o" title="设置" />
                    </van-list>
                    <!-- List列表 -->
            </div>
        </div>
        <div class="footer">
            <van-tabbar v-model="active">
                <van-tabbar-item icon="wap-home-o">首页</van-tabbar-item>
                <van-tabbar-item icon="orders-o">精选</van-tabbar-item>
                <van-tabbar-item icon="apps-o">分类</van-tabbar-item>
                <van-tabbar-item icon="cart-o">购物车</van-tabbar-item>
                <van-tabbar-item icon="manager-o">我的</van-tabbar-item>
            </van-tabbar>
        </div>
  </div>
</template>

<script>
export default {
    created(){
        let time = (new Date).getTime()
          let time1 = localStorage.getItem('time')
        //   console.log(time)
        //   console.log(time1)
          if(time > time1){
            alert('帐号信息已过期，请重新登录')
            this.$router.push('/login')}
    },
    data(){
        return{
            active:'',
            uname: localStorage.getItem('uname')  || ''
        }
    }
};
</script>

<style lang='scss' scoped>
@import '@/assets/css/common.scss';
.vip{
    .header{
        .transtion{
            position: absolute;
            bottom: px2rem(40);
            z-index: 2;
            width: 100%;
        }
        position: relative;
        width: 100%;
        height: px2rem(270);
        .banner{
            position: absolute;
            top: 0;
            width: 100%;
            opacity: .7;
        }
        .top{
            width: 100%;
            height: px2rem(44);
            position: fixed;
            top: 0;
            z-index: 1;
            text-align: center;
            font-size: px2rem(16);
            font-weight: 900;
            line-height: px2rem(44);
            .r{
                width:px2rem(100) ;
                position: absolute;
                right: 0;
                top: px2rem(7);
                font-size: px2rem(28);
                display: flex;
                justify-content: space-around;
                color: #ffffff;
            }
        }
        .user{
            position: absolute;
            top: px2rem(44);
            width: 94%;
            height: px2rem(90);
            left: px2rem(12);
            line-height: px2rem(90);
            font-size: px2rem(20);
            img{
                height: px2rem(60);
                width: px2rem(60);
                margin-right: px2rem(20);
                vertical-align: middle;
            }
        }
        .btm{
            position: absolute;
            bottom: px2rem(-10);
            width: 94%;
            // margin: 0 auto;
            height: px2rem(120);
            background:rgb(64, 55, 36);
            margin: px2rem(12);
            border-radius: px2rem(5);
            font-size: px2rem(15);
            color: #f7d680;
            .tit{
                margin: px2rem(14);
            }
            .grade{
                margin-left: px2rem(10);
            }
            .img{
                position: absolute;
                right: 0;
                top: px2rem(10);
            }
        }
    }
    .box{
        padding-bottom: px2rem(15);
        background: rgb(245, 245, 245);
        // height: 500px;
        width: 100%;
        position: relative;
        top: px2rem(-40);
        .content{
            background: #ffffff;
            width: 94%;
            margin: 0 auto;
            .van-grid{
                border-radius: px2rem(5);
                margin-bottom: px2rem(15);
            }
            .order{
                width: 94%;
                display: flex;
                justify-content: space-between;
                padding: px2rem(10);
            }
            .orders{
                color: red;
            }
        }
    }
}
</style>